* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #eaf3d5;
}

#container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/showcase_yes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px 20px 20px 40px;
}

#resources {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  padding: 40px;
}

#resources a,
#resources p {
  color: #e1e1e1;
  margin: 10px;
  font-size: 18px;
}

#resources p {
  font-size: 20px;
}

#resources .button {
  color: #878585;
}

#resources .buttons {
  padding-top: 40px;
}

/* #resources .buttons {
  margin-top: 40px;
}

#resources .button {
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 40px;
  border: #bab392 2px double;
  border-radius: 15px;
  color: #40180f;
  font-weight: 700;
  background-color: #bab392;
}

#resources .button:hover {
  color: #bab392;
  background-color: #40180f;
} */
