* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #e1e1e1;
  overflow: auto;
}

#main-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/showcase_qna.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70px auto;
  justify-content: center;
  align-content: center;
  row-gap: 2em;
}

#main-section #instructions {
  grid-column: 1/-1;
  color: #fff;
}

#main-section .instruction-1 {
  font-size: 16px;
  line-height: 1;
}

#main-section .instruction-2 {
  font-size: 12px;
  line-height: 1;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: #6f6f6f 0.1px solid;
}

#main-section .qa {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#main-section .a {
  /* align-self: flex-end; */
}

#main-section .q {
  font-size: 18px;
  margin: 0 20px 0 5px;
}

#main-section select {
  background-color: #e1e1e1;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
  border: 2px #fff solid;
  border-radius: 10px;
}

#main-section .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  border-top: #6f6f6f 1px solid;
}

#main-section .button {
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 40px;
  border: #bab392 2px double;
  border-radius: 15px;
  color: #40180f;
  font-weight: 700;
  background-color: #bab392;
}

#main-section .button:hover {
  color: #bab392;
  background-color: #40180f;
}

#main-section #submitButton {
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 40px;
  border: #bab392 2px double;
  border-radius: 15px;
  color: #40180f;
  font-weight: 700;
  background-color: #bab392;
}

#main-section #submitButton:hover {
  color: #bab392;
  background-color: #40180f;
}

.disappear {
  display: none !important;
}

#main-section #warning {
  text-align: center;
  color: coral;
}
